$mn-clr: #fff;
$bgc: rgba(0, 0, 0, 0.7);
$bgc-two: rgba(50, 50, 50, 0.6);
$rb: royalblue;
$nav-border: #222 0.5rem solid;
$border-one: 0.3rem solid #fff;
$border-two: 0.2rem solid #fff;
$border-three: #555 0 solid;

// Animations
@keyframes typing {
  to {
    width: 0
  }
}

@keyframes caret {
  0% {
    color: transparent;
  }

  50% {
    color: #fff;
  }

  100% {
    color: transparent;
  }
}